export(ngssm.mle)
export(ngssm.bayes)
export(PlotF)
export(SmoothingF)
export(FilteringF)
S3method(predict,ngssm.mle.p)
S3method(predict,ngssm.bayes.p)
S3method(summary,ngssm.mle)
S3method(summary,ngssm.bayes)
#export(ngssm.mle.p)
#export(ngssm.bayes.p)
#export(predict.ngssm.mle.p)
#export(predict.ngssm.bayes.p)
#export(Prediction)
# importFrom("methods", "is")
importFrom("stats", "model.frame","cov")
importFrom("mvtnorm","rmvnorm", "dmvnorm")
importFrom("interp","interpp")
importFrom("dlm","arms")
importFrom("dlm","convex.bounds")
importFrom("fields",make.surface.grid)
importFrom("compiler","cmpfun")
importFrom("graphics", "axis", "contour", "legend", "lines", "par",
             "plot", "polygon", "title","points")
importFrom("stats", "aggregate", "median", "optim", "plot.ts", "qnorm",
             "quantile", "rgamma", "rnorm", "rpois", "rweibull","dbeta","dnorm","pnorm","dgamma","na.omit")
importFrom("utils", "data")
importFrom("graphics", "layout")
importFrom("utils", "setTxtProgressBar", "txtProgressBar")
importFrom("car", "scatterplotMatrix")
importFrom("grDevices", "dev.new")



